flows/aqi-flow.json
[
  {
    "id": "aqi_flow_group",
    "type": "group",
    "z": "flow_main",
    "name": "ICA / AQI - Calidad del Aire",
    "style": {
      "stroke": "#00aa00",
      "fill": "#e8f5e9",
      "label": true
    },
    "nodes": ["inject_aqi", "config_aqi", "http_aqi", "parse_aqi", "mqtt_aqi", "comment_aqi"],
    "x": 14,
    "y": 19,
    "w": 932,
    "h": 142
  },
  {
    "id": "comment_aqi",
    "type": "comment",
    "z": "flow_main",
    "g": "aqi_flow_group",
    "name": "ICA - Indice Calidad del Aire para AWTRIX 3",
    "info": "Este flow obtiene el AQI de OpenWeather y lo envía a AWTRIX 3.\n\n**Configurar en nodo 'Config':**\n- lat: tu latitud\n- lon: tu longitud  \n- apiKey: tu API key de OpenWeather\n- awtrixIP: IP de tu AWTRIX 3\n\n**O usar variables de entorno:**\n- OPENWEATHER_API_KEY\n- AWTRIX_IP\n- AWTRIX_LAT\n- AWTRIX_LON\n\n**Colores según AQI:**\n- Verde: Bueno (0-50)\n- Amarillo: Moderado (51-100)\n- Naranja: Insalubre sensibles (101-150)\n- Rojo: Insalubre (151-200)\n- Morado: Muy insalubre (201-300)\n- Marrón: Peligroso (301+)",
    "x": 200,
    "y": 60,
    "wires": []
  },
  {
    "id": "inject_aqi",
    "type": "inject",
    "z": "flow_main",
    "g": "aqi_flow_group",
    "name": "Cada 10 min",
    "props": [],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 110,
    "y": 120,
    "wires": [["config_aqi"]]
  },
  {
    "id": "config_aqi",
    "type": "function",
    "z": "flow_main",
    "g": "aqi_flow_group",
    "name": "Config",
    "func": "// ========== CONFIGURACIÓN ==========\n// Usa variables de entorno o edita los valores aquí\n\nvar lat = env.get('AWTRIX_LAT') || '19.4326';\nvar lon = env.get('AWTRIX_LON') || '-99.1332';\nvar apiKey = env.get('OPENWEATHER_API_KEY') || 'TU_API_KEY_AQUI';\nvar awtrixIP = env.get('AWTRIX_IP') || '192.168.1.108';\n\n// ======================================\n\nif (apiKey === 'TU_API_KEY_AQUI') {\n    node.error('Falta configurar OPENWEATHER_API_KEY');\n    return null;\n}\n\nmsg.lat = lat;\nmsg.lon = lon;\nmsg.apiKey = apiKey;\nmsg.awtrixIP = awtrixIP;\n\nmsg.url = `http://api.openweathermap.org/data/2.5/air_pollution?lat=${lat}&lon=${lon}&appid=${apiKey}`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 120,
    "wires": [["http_aqi"]]
  },
  {
    "id": "http_aqi",
    "type": "http request",
    "z": "flow_main",
    "g": "aqi_flow_group",
    "name": "OpenWeather API",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 430,
    "y": 120,
    "wires": [["parse_aqi"]]
  },
  {
    "id": "parse_aqi",
    "type": "function",
    "z": "flow_main",
    "g": "aqi_flow_group",
    "name": "Calcular ICA",
    "func": "// Obtener datos de OpenWeather\nvar data = msg.payload;\n\nif (!data || !data.list || !data.list[0]) {\n    node.error('No se recibieron datos de OpenWeather');\n    return null;\n}\n\nvar pollution = data.list[0];\nvar components = pollution.components;\n\n// PM2.5 es el indicador principal para ICA\nvar pm25 = components.pm2_5;\nvar pm10 = components.pm10;\nvar o3 = components.o3;\nvar no2 = components.no2;\nvar co = components.co;\n\n// Calcular AQI basado en PM2.5 (escala US EPA)\nfunction calcAQI_PM25(pm25) {\n    var breakpoints = [\n        {low: 0, high: 12, aqiLow: 0, aqiHigh: 50},\n        {low: 12.1, high: 35.4, aqiLow: 51, aqiHigh: 100},\n        {low: 35.5, high: 55.4, aqiLow: 101, aqiHigh: 150},\n        {low: 55.5, high: 150.4, aqiLow: 151, aqiHigh: 200},\n        {low: 150.5, high: 250.4, aqiLow: 201, aqiHigh: 300},\n        {low: 250.5, high: 500.4, aqiLow: 301, aqiHigh: 500}\n    ];\n    \n    for (var bp of breakpoints) {\n        if (pm25 >= bp.low && pm25 <= bp.high) {\n            return Math.round(\n                ((bp.aqiHigh - bp.aqiLow) / (bp.high - bp.low)) * \n                (pm25 - bp.low) + bp.aqiLow\n            );\n        }\n    }\n    return 500;\n}\n\n// Calcular AQI\nvar aqi = calcAQI_PM25(pm25);\n\n// Determinar color y texto según AQI\nvar color, status, icon;\n\nif (aqi <= 50) {\n    color = '#00E400';\n    status = 'Bueno';\n    icon = 13209;\n} else if (aqi <= 100) {\n    color = '#FFFF00';\n    status = 'Moderado';\n    icon = 13210;\n} else if (aqi <= 150) {\n    color = '#FF7E00';\n    status = 'Insalubre*';\n    icon = 13211;\n} else if (aqi <= 200) {\n    color = '#FF0000';\n    status = 'Insalubre';\n    icon = 13212;\n} else if (aqi <= 300) {\n    color = '#8F3F97';\n    status = 'Muy insalubre';\n    icon = 13213;\n} else {\n    color = '#7E0023';\n    status = 'Peligroso';\n    icon = 13214;\n}\n\n// Preparar payload para AWTRIX 3\nmsg.payload = {\n    'text': `ICA ${aqi}`,\n    'icon': 4080,\n    'color': color,\n    'duration': 10,\n    'pushIcon': 0,\n    'lifetime': 900\n};\n\n// URL para HTTP API de AWTRIX\nmsg.url = `http://${msg.awtrixIP}/api/custom?name=aqi`;\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\n\n// Log para debug\nnode.warn(`ICA: ${aqi} | PM2.5: ${pm25} | Status: ${status}`);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 120,
    "wires": [["mqtt_aqi"]]
  },
  {
    "id": "mqtt_aqi",
    "type": "http request",
    "z": "flow_main",
    "g": "aqi_flow_group",
    "name": "Enviar a AWTRIX",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 810,
    "y": 120,
    "wires": [[]]
  }
]
